$almos-black: #151515;
$almos-grey: #ececec;
$light-orange: #ff8b00;
$dark-grey: hsla(0, 0%, 69.8%, 0.5);
$dark-grey2: hsla(0, 0%, 69.8%, 0.9);
$dark-grey3: #141414;
$ligh-grey: #b2b2b2;
$turquoise: #008cba;
$base-font-size: 16px;
$base-spacing-unit: 0.5rem;